.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -15px auto 0;
    font-family: Arial, sans-serif;
    color: #333;
}


  body {
    background-color: #f1e4ee;
  }
  
  
  h1 {
    margin: 2rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 78px;
    text-align: center;
    text-shadow: 2px 2px 4px #302658;
    color: #de669c;
  }
  
  h2 {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
    color: rgb(157, 4, 68);
    font-family: "Monaco", monospace;
  }
  
  img {
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #656bc6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Monaco", monospace;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0d47a1;
  }

  p {
    font-size: 34px;
    font-family: "Monaco", monospace;
  }
  
  label {
    font-size: 24px;
    color:antiquewhite;
  }
  
  .Box {
    background-color: #2196f3;
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  #outlined-basic {
    margin: 20px 0;
    height: fit-content;
  }
  
  .Button {
    margin-top: 50px;
    font-family: "Monaco", monospace;
  }
  
  #wrong-letters {
    color: rgb(210, 45, 72);
    font-size: 17px;
    font-weight: "bold";
    font-family: "Monaco", monospace;
    margin: 0 0 20px;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    }
    to {
      text-shadow: 0 0 20px orange, 0 0 30px orange, 0 0 40px orange;
    }
  }
 
.SendWord {
    background-color : green;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 30px;
  }

  .SendWord:hover {
    background-color: aqua;
  }
  
  #mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
  }


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 260px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  width: 260px;
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.queryButton {
    display: block;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

.queryButton .btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
